<%= render 'postos/posto' %>
<div class="container">
  <%= search_form_for @search, class: "row g-2 offset-md-2 my-3 form-group form-inline", local: true do |f| %>
    <%= f.search_field :content_cont,required: true, class: "form-control col-8", placeholder: "投稿の検索ができるよ" %>
    <%= f.submit '検索', class: "btn btn-outline-primary col-2 mx-2"%>
  <% end %>
  <% if @check.present? %>
    <div class="row offset-md-2">
      <p>検索結果</p>
    </div>
    <% @results.each do |kekka| %>
    <div class="row mx-auto toukou">
      <%= link_to user_path(kekka.user_id) do %>
        <%= attachment_image_tag kekka.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40', class: "img" %>
      <% end %>
      <%= link_to posto_path(kekka.id) do %>
        <%= render_with_hashtags(kekka.content) %>
      <% end %>
    </div>
    <% end %>
  <% end %>
  <div class="col-5 mx-auto heading-img">
    使われているタグ一覧
  </div>
  <div class="row mx-auto">
    <div class="col">
      <% @tags.each do |tag| %>
        <%= link_to "/posto/hashtag/#{tag.hashname}" do %>
          #<%= tag.hashname %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-5 mx-auto heading-img">
  投稿一覧
</div>
<% @postos.each do |posto| %>
  <div class="container mx-auto rounded-5 border border-info m-3 post profile-toukou">
    <div class="row">
      <div class="col-1 m-3">
        <div class="mx-2"><%= posto.user.name %></div>
        <%= link_to user_path(posto.user_id) do %>
          <%= attachment_image_tag posto.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'80x80', class: "img" %>
        <% end %>
      </div>
      <div class="col my-4 mx-4 post-text">
        <%= link_to posto_path(posto) do %>
          <%= render_with_hashtags(posto.content) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @postos %>
