<%= render 'postos/posto', posto: @posto %>
<div class="container">
  <div class="row">
    <table>
      <td>
        <%= search_form_for @search do |f| %>
          <th><%= f.search_field :content_cont,required: true, class: "form-control", placeholder: "投稿の検索ができるよ" %></th>
          <th><%= f.submit '検索', class: "btn btn-outline-primary"%></th>
        <% end %>
      </td>
    </table>
  </div>
  <div class="row">
  <p>検索結果</p>
  </div>
  <div class="row">
    <% @results.each do |kekka| %>
      <%= link_to user_path(kekka.user_id) do %>
        <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
      <% end %>
      <%= link_to posto_path(kekka.id) do %>
        <%= render_with_hashtags(kekka.content) %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <p>使われているタグ一覧</p>
    <div class="col">
      <% @tags.each do |tag| %>
        <%= link_to "/posto/hashtag/#{tag.hashname}" do %>
          #<%= tag.hashname %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <% @postos.each do |posto| %>
    <div class="row rounded border border-info toukou mx-auto my-3">
      <%= link_to user_path(posto.user_id) do %>
        <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
      <% end %>
      <%= link_to posto_path(posto) do %>
        <%= render_with_hashtags(posto.content) %>
      <% end %>
      <% if posto.user_id == current_user.id %>
        <%= link_to "削除", posto_path(posto), method: :delete, data: {confirm: "本当に消しますか？"} %>
      <% end %>
    </div>
  <% end %>
</div>
</div>