<%= render 'postos/posto' %>
<%= flash[:alert] %>
<div class-"container">
  <div class="row">
    <div class="col-5 mx-auto heading-img">
      みんな一覧
    </div>
  </div>
  <p class="text-center">あとでフォロー機能つける！</p>
  <!--% if current_user != user %>-->
    <!--% if current_user.following?(user) %>-->
      <!--%= button_to 'フォロー解除', relationship_path(current_user.relationships.find_by(follower: user)), method: :delete %>-->
    <!--% else %>-->
    <!--%= button_to 'フォロー', relationships_path(follower: user) %>-->
    <!--% end %>-->
  <!--% end %>-->
    <% @users.each do |user| %>
    <div class="container mx-auto rounded-5 border border-info m-3 post profile-toukou">
      <div class="row">
        <div class="col-1 m-3">
          <div class="mx-2">
            <%= link_to user.name, user_path(user) %>
          </div>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'80x80', class: "img" %>
          <% end %>
        </div>
        <div class="col my-4 mx-4 post-text">
          <%= user.introduction %>
          <%= render 'relationships/follow_button', user: user %> 
        </div>
      </div>
    </div>
    <% end %>